body {
  margin: 20%;
}
.container {
  background-color: rgb(80, 228, 80);
  padding: 2%;
}
.minContainer {
  background-color: white;
  border-radius: 15px;
  padding: 4%;
}
p {
  font-family: "Lucida Console", "Courier New", monospace;
}
.btnAdd {
  color: white;
  background-color: rgb(78, 153, 238);
  border-radius: 10px;
  border: none;
}
input {
  border-color: rgb(231, 230, 230);
}

.list2 {
  text-decoration: line-through;
  background-color: rgba(207, 201, 201, 0.938);
}
.btn1 {
  color: white;
  background-color: rgb(78, 153, 238);
  border-radius: 10px;
  border: none;
}
.btn2 {
  color: white;
  background-color: red;
  border-radius: 10px;
  border: none;
}
.btn3 {
  color: white;
  background-color: green;
  border-radius: 10px;
  border: none;
}
.Buttons {
  display: flex;
  justify-content: space-around;
}
